.ant-btn.css-dev-only-do-not-override-ph9edi.ant-btn-primary.editProfilbtn{
    position: relative;
    display: inline-block;
    top:35px;
    left:40px;
    width:90%;
    background-color:#7393B0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
} 
.myProfile {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    
  }
  
  .wraperCard {
    background-color:#f8f4f4;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    padding: 50px;
    max-width: 800px;
    width: 100%;
  }
  
  .Skills li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .editProfilbtn {
    margin-top: 20px;
  }

