.comment-box {
    margin-top: 20px;
  }
  .comment-box form {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    width: 100%;
    
  }
  .comment-box form input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
  }
  .comment-box .commentButton, .replyButton {
    position: relative;
    display: inline-block;
    bottom: -10px;

    width: 250px;
    margin-bottom: 20px;
    background-color: #7393B0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
  }

  .replyButton {
    left: 66%;
  }
  .commentButton {
    left: 68%;
  }


  .comment-box button[type="submit"]:hover {
    background-color: #3367D6;
  }
  .invisible {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    display: inline-block;
    margin: 5px 10px 10px 0;
    color: gray;
  }
  .name {
    line-height: 0;
  }
  .name::first-line {
    color: gray;
  }
  .comment {
    line-height: 1.2em;
  }
  .reply {
    margin-bottom: 50px;
  }
  .replies {
    margin-left: 50px;
  }