.form {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color:#000;
}
.RedigerForm b{
    font-weight: lighter;
    display: flex;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color:#000;
}
.RedigerForm {
    margin-top: 4em;
    background-color: #F8F4F4;
    padding: 29px;
    width: 35%;
    border: 1px solid #D9D9D9;
    padding: 24px;
    border-radius: 20px;
}









