.yourProjCard {
  position: relative;
  top:50px;
  padding: 100px;
  padding-top: 56px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #f8f4f4;
  border-radius: 20px;
}
.yourProjCard table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  }
.yourProjCard .first-row th {
    background-color:none;
    font-weight:600;
    font-size: 14px;
    font-family: Helvetica, Verdana,sans-serif;
  }
.yourProjCard th, td {
    text-align: left;
    padding: 8px;
    font-size: 12px;
    font-family: Helvetica, Verdana,sans-serif;
  }
.yourProjCard a {
    text-align: left;
    padding: 8px;
    font-size: 12px;
    font-family: Helvetica, Verdana,sans-serif;
    text-decoration: underline;
    color: #000;
  }
.yourProjCard th {
    font-weight:600;
    font-size: 12px;
    font-family: Helvetica, Verdana,sans-serif;
  }
.yourProjCard tr:nth-child(even) {
    background-color: none;
  }
.yourProjCard .applicationNr {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }
.yourProjCard ul .ant-pagination.css-dev-only-do-not-override-ph9edi {
   text-align: left;
  }












