.yourProjCard {
  padding: 100px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  }
.first-row th {
    background-color: #fff;
    font-weight:600;
    font-size: 14px;
    font-family: Helvetica, Verdana,sans-serif;
  }
  th, td {
    text-align: left;
    padding: 8px;
    font-size: 12px;
    font-family: Helvetica, Verdana,sans-serif;
  }
   a {
    text-align: left;
    padding: 8px;
    font-size: 12px;
    font-family: Helvetica, Verdana,sans-serif;
    text-decoration: underline;
    color: #000;
  }
  th {
    font-weight:600;
    font-size: 12px;
    font-family: Helvetica, Verdana,sans-serif;
  }
  tr:nth-child(even) {
    background-color: #F2F2F2;
  }
  .applicationNr {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }
  .yourProjCard ul .ant-pagination.css-dev-only-do-not-override-ph9edi {
   text-align: left;
  }












