.card-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .card-title {
    margin-bottom: 20px;
  }

  .card-container .ant-card {
    position: relative;
    left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    height: 100%;
    overflow-x: hidden;
    margin-bottom: 15px;
}
    
  .card-container .ant-card .ant-card-body{
    position: relative;
    padding-top: 80px;
    padding: 24px;
    left: 0%;
    right: 80%;
    background-color: #fff;
    display: flex;
    min-width: 100%;
    height: 100%;
    flex-direction: column;
    justify-items: center
  }
  
  .card-body {
    width: 800px;
    margin: 0 auto;
  }
  
  .card-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .card-motivation {
    margin: 0;
    flex: 1;
  }
  
  .card-buttons .ant-btn {
    display: flex;
    flex-direction: row;
    align-items:end;
    margin-left: 20px;
  }
  
  .card-button {
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
  }

  
  
  .card-button .ant-btn-primary {
    color: #fff;
    background-color: #1677ff;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
  
  