.yourProj {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  
  .applicationNr {
    display: inline-block;
    margin-left: 5px;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
  }