*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Verdana,sans-serif;
}
body {

}

.navBar{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px ;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2%;
  padding-right: 7%;
  box-shadow: 0px 2px 2px 1px  #aaaa;
  background-color: #ffff;
  z-index: 1000;
}

.navLogo{
 display:flex;
 align-items: center;
 width:15%;
}

.navBar h2{
  color: #535333;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  padding-left: 10px;
  margin-right:10px;
}
.navBar .logoText{
  color: #ea1538;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-style: oblique;
}

.searchbtn .ant-btn-primary {
  position:absolute;
  padding:0;
  margin:0;
  top:1px;
  bottom: 1px;
  right: 1px;
  /*background-color:transparent;*/
  border: none;
  color: black;
}


.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  width: 38px;
  padding-top: 0;
  padding-bottom: 0;
  border-start-start-radius: 0;
  border-start-end-radius: 20px;
  border-end-end-radius: 20px;
  border-end-start-radius: 0;
  background-color:hsl(212, 43%, 59%);

}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:hover{
  background-color:hsl(212, 67%, 61%);
  border: none;
 }
.searchbtn .ant-btn-primary .anticon svg{
/*   padding-top: 8px;
 width: 2em;
 height: 2em;*/
 color:#ffff; 
}

.navBar .ant-input{
  width:700px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 20px;
}
.navBar .ant-input-group >.ant-input:first-child{
  border-start-end-radius: 20px;
  border-end-end-radius: 20px;
  }

.navBar .ant-btn {
  width: 75px;
  height: 32px ;
  padding: 2px 11px;
  box-sizing: border-box;
  border-color:rgb(112, 136, 243);
  border-radius: 25px;
  font-family:Arial,serif;
  font-size: 14px;
  font-style:normal;
  font-weight:700;
  line-height: 17px;
  text-transform: unset;
  letter-spacing:unset;
}


.btnLogin {
  width: 105%;
  margin-right: 20px;
  color:#ffff;
  background-color:hsl(212, 43%, 59%);
  box-sizing: border-box;
  border-color:rgb(112, 136, 243);
}

.btnSignup {
  color:hsl(212, 43%, 59%);
  background-color:#ffff;
  width: 100%;
  box-sizing: border-box;
  border-color:rgb(112, 136, 243);
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%,-30%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
